# 1. Explain with an example each when to use a for loop and a while loop.
.
>> While Loop : While Loop is used to execute a block of statements repeatedly until a given condition is satisfied and when the condition becomes false, the line immediately after the loop in the program is executed.

>> For Loop : A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.

In [3]:
# Example of  For Loop.

a = ["apple", "banana", "cherry"]
for i in a:
  print(i)

apple
banana
cherry

In [11]:
#Example of While Loop.
count=0
while (count < 3):
	count = count + 1
	print("Hello Pw")

Hello Pw
Hello Pw
Hello Pw

In [ ]:
2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [20]:
sum=0
for i in range(1,11):
    sum= sum+i
print("sum of first 10 Natural number is: ", sum)

sum of first 10 Natural number is:  55

In [23]:
mul=1
for i in range(1,11):
    mul = mul*i
print("multiple of first 10 Natural number is: ",mul)

multiple of first 10 Natural number is:  3628800

In [29]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
print("sum of first 10 Natural number is: ", sum)

sum of first 10 Natural number is:  55

In [30]:
product = 1
i = 1
while i <= 10:
    product *= i
    i += 1
print("The product of the first 10 natural numbers is:", product)

The product of the first 10 natural numbers is: 3628800

#3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units,
the user will be charged Rs. 4.5 per unit, for the next 100 units,
the user will be charged Rs. 6 per unit, and for the next 100 units,
the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [36]:
unit =  int(input("Enter your electric unit : "))
if unit <=100:
    rs1=unit*4.5
    print("your bill is Rs : ", rs1)
elif unit >100 and unit<=200:
    rs2 = (100*4.5) + (unit - 100) * 6
    print("your bill is Rs : ",rs2)
elif unit > 200 and unit<=300:
    rs3 = (100*4.5)+ (200-100)*6+(unit - 200)*10
    print("your bill is Rs : ",rs3)
elif unit>300:
    rs4 = (100*4.5)+ (200-100)*6+(300 - 200)*10 + (unit - 300)*20
    print("your bill is Rs : ",rs4)
else:
    print("please enter valid number")

Enter your electric unit :  310

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [39]:
l1 = list(range(1,101))
print(l1,end= " ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
l1 = []
Cube_l2 = []

for i in range(1, 101):
    l1.append(i)
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        Cube_l2.append(cube)
print("The Actual List is: ",l1)
print('''The list of cubes that are divisible by 4 or 5:''', Cube_l2)

The Actual List is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
The list of cubes that are divisible by 4 or 5: [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [3]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for char in string:
    if char in vowels:
        count += 1

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12