 1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [5]:
newList = sorted(list1, key = lambda x : x[1],reverse=True)
print("Reverse sorted list: ",newList)
print("original list: ", list1)

Reverse sorted list:  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
original list:  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
def sqr(x):
    return x**2

In [8]:
list(map(sqr,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
l1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = tuple(map(str,l1))

In [15]:
x

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [18]:
from functools import reduce
l3 = [1,2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [19]:
reduce(lambda x,y:x*y,l3)

15511210043330985984000000

5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [20]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [21]:
list(filter(lambda x:x%2==0,l))

[2, 4, 6, 8, 10]

In [25]:
list(filter(lambda x:x%3==0,l))

[3, 6, 9]

6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [29]:
s = ['python', 'php', 'aba', 'radar', 'level']

In [30]:
list(filter(lambda s: (s == s[::-1]), s))

['php', 'aba', 'radar', 'level']